
    <style>
        /* Basic styling for the table and images */
        table {
            width: 90%; /* Adjust as needed */
            margin: auto; /* Center the table */
            border-collapse: collapse; /* Remove spaces between table cells */
        }

        td {
            padding: 5px; /* Space around images */
        }

        img {
            width: 100%; /* Make images responsive */
            height: 100; /* Maintain aspect ratio */
            display: block; /* Remove space below images */
        }
    </style>

<div class="row-name">Weekday Timetable For Green and Purple Line</div>
    <table>

        <tr>
            <td><img src="images/green_1.jpg" alt="Image 1" width="10"></td>
            <td><img src="images/purple_1.jpg" alt="Image 2"></td>
        </tr>
    </table>
<br><br>
    
<div class="row-name">Sunday and Government Holidays Timetable For Green and Purple Line</div>
<table>
        <tr> 
            <td><img src="images/green_2.jpg" alt="Image 3"></td>
            <td><img src="images/purple_2.jpg" alt="Image 4"></td>
        </tr>
    </table>

