<div class="container">
  <img src="images/LandingPage.PNG" alt="Centered Image">
  </div>

<!-- component.html -->
<div class="content-wrapper">
    <div class="text-section">
      <h1>Bangalore Metro Rail Corporation Limited (BMRCL)</h1>
      <p>
        A joint venture of Government of India and Government of Karnataka, is a Special Purpose Vehicle entrusted with the responsibility of implementation and operation of Bangalore Metro Rail Project.
      </p>
      <p>
        Bangalore Metro, christened as ‘Namma Metro’, not only adds to the beauty of Bangalore city skyline, but more importantly provides a safe, quick, reliable and comfortable public transport system. Besides this, Namma Metro is a major environment friendly addition to the Bangalore City as it significantly contributes to the reduction of carbon emissions.
      </p>
      <p>Metro services have been in operation on 73.81 KM.</p>
      <ul>
        <li>East-West corridor of 43.49 km commencing at Whitefield (Kadugodi) in the east and terminating at Challaghatta Terminal in the west.</li>
        <li>North-South corridor of 30.32 km commencing at Nagasandra in the North and terminating at Silk Institute in the South.
            This is the First Metro rail project in India commissioned with 750V DC Third Rail Traction on Standard Gauge.</li>
      </ul>
    </div>
    <div class="image-section">
      <img src="images/About.png" alt="Emblem" class="logo">
      <!-- Add more images as needed -->
    </div>
  </div>
  