
<!-- header.component.html -->
<div class="header">
  <div class="navbar">
    <div class="brand">Namma Metro</div>
    <nav>
      <ul>
 <li> <a class="mylink" routerLink="/home"> Home</a> </li>
 <li> <a class="mylink" routerLink="/about"> About</a> </li>
 <li> <a class="mylink" routerLink="/contactus"> ContactUs</a> </li>
 <li>  <a class="mylink" routerLink="/login"> Login</a> </li>
 <li>  <a class="mylink" routerLink="/register"> Register </a> </li>
 <li>  <a class="mylink" routerLink="/map"> Maps </a> </li>
 <li>  <a class="mylink" routerLink="/timetable"> Timings </a> </li>
</ul>
</nav>
</div>
</div>
<router-outlet></router-outlet>
