<div class="container">
  <img src="images/LandingPage.PNG" alt="Centered Image">
  </div>

<!-- component.html -->
<div class="contact-cards">
    <div class="card">
      <div class="card-icon">
        <img src="images/Contact.png" alt="Project Icon">
      </div>
      <h2>For Project Related Information</h2>
      <p>Chandana S Muttur<br> Anurag  Mummadi <br> Jeet Agarwal<br> Chandana N <br> Chandan</p>
      <p><strong>Our Phone:</strong> 91-8971857003</p>
    </div>
    <div class="card">
      <div class="card-icon">
        <img src="images/Contact.png" alt="Travel Icon">
      </div>
      <h2>For Travel Related Information</h2>
      <p>Namma Metro App<br> Bangalore - 560 038</p>
      <p><strong>Our Phone:</strong> 080-25191091</p>
      <p><strong>Toll-free Helpline:</strong> 1800-425-12345</p>
    </div>
  </div>
  